.show-768 {
	display: none !important;
}

@media (max-width: 768px) {
	.hide-768 {
		display: none !important;
	}
	.show-768 {
		display: block !important;
	}

	
	.sct-home-features {
		padding: 40px 35px 0 35px;
	}
	.sct-home-features .row .col {
		width: 100% !important;
    	max-width: 100% !important;
    	float: none;
    	display: block !important;
    	padding: 0;
	}
	.sct-home-features .row {
		margin: 0;
	}
	.sct-home-features .row .col.col-device-styled {
		margin-left: 50px;
		padding: 0 215px 0 0;
		min-height: 300px;
		background: url(../img/images/device-figure-mbl.png) no-repeat 100% bottom;
		display: flex !important;
	}
	.sct-home-features .row .col.col-device-styled .text-device-styled {
		margin: 10px 0 10px -50px;
		align-self: center;
	}
}