.show-420 {
	display: none !important;
}

@media (max-width: 420px) {
	.hide-420 {
		display: none !important;
	}
	.show-420 {
		display: block !important;
	}



	.ul-menu {
		padding-right: 0;
		padding-left: 70px;
	}
	.mbl-menu {
		margin-left: 70px;
		margin-right: 0;
	}

	.menu-header {
		left: 10px;
	}

	.ul-menu > li > .dropdown > .link,
	.ul-menu > li > .menu-link,
	.mbl-menu {
		font-size: 14px;
	}

	.education-quotes {
		padding-right: 30px;
		padding-left: 30px;
	}

	.sct-header .menu .dropdown-item {
		font-size: 14px;
		white-space: normal;
	}
	.sct-header .menu .dropdown.show > .dropdown-menu.parent {
		left: 70px !important;
		width: calc(100% - 70px);
	}
	

	.sct-home-features {
		padding: 40px 15px 0 15px;
	}
	.sct-home-features h1.title-default {
		font-size: 20px;
	}
}